/* FOOTER */

.container {
    width: auto;
}

.color-footer {
    background-color: #000;
    
}

.footer-content {
    background-color: #212121;
    color: white;
    text-align: center;
  }

  .footer__title {
    font-size: 1.5rem;
    padding: 2px;
    text-align: center;
    color: #575555;
  }

  .redes__icons {
    text-align: center;
  }

  .redes__icons a i{
    margin-left: 1rem;
  }

  .fa-facebook{
    font-size: 40px;
    color: #575555;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    bottom: 30px;
    right: 30px;
}

.fa-twitter{
    font-size: 40px;
    color: #575555;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    bottom: 30px;
    right: 30px;
}

.fa-whatsapp{
    font-size: 40px;
    color: #575555;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    bottom: 30px;
    right: 30px;
}

.fa-instagram{
    font-size: 40px;
    color: #575555;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    bottom: 30px;
    right: 30px;
}

/* FIN FOOTER */