/* BOTONES */

.btn-primary {
    background-color: #000;
    color: #fff;
}

.btn {
    color: map-get($colors, color-white);
    border: 1px solid #fff;
}
    .btn:hover,
    .btn:focus {
    color: map-get($colors, color-black);
    background-color: #fff;
    border: 1px solid #000;
}

/* FIN BOTONES */ 

/* TITULOS DE SECCIONES */  

.title {
    text-align: center;
}

.sub-title{
    text-align: center;
}

/* FIN TITULOS DE SECCIONES */ 